    /* Cambiar el color de los mensajes de validación */
    .form-control.is-invalid, .form-select.is-invalid, .form-check-input.is-invalid {
      border-color: #6c757d; /* Gris opaco */
    }

    .form-control.is-invalid:focus, .form-select.is-invalid:focus, .form-check-input.is-invalid:focus {
      border-color: #6c757d;
      box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25); /* Sombra gris */
    }

    .invalid-feedback {
      color: #6c757d; /* Texto gris opaco */
    }

    /* Cambiar el color de los campos válidos */
    .form-control.is-valid, .form-select.is-valid, .form-check-input.is-valid {
      border-color: #6c757d; /* Gris opaco */
    }

    .form-control.is-valid:focus, .form-select.is-valid:focus, .form-check-input.is-valid:focus {
      border-color: #6c757d;
      box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25); /* Sombra gris */
    }

    .valid-feedback {
      color: #6c757d; /* Texto gris opaco */
    }

    /* Estilos personalizados para los radio buttons */
    .form-check-input.is-invalid ~ .form-check-label {
      color: #6c757d; /* Texto gris opaco */
    }

    .form-check-input.is-invalid {
      border-color: #6c757d; /* Borde gris opaco */
    }